<%- include('./templates/header.ejs') %>
  <body>
    <main class="success">
      <div class="container">
        <% if (userName) { %> <h2 class="succes-h2"><%= userName %> you have successfully logged in!</h2> <% } else { %>
        <H2 class="succes-h2">You have successfully logged in!</H2>
        <% } %>
        <form action="/logout" method="post">
          <button class="logout" type="submit">Sign out</button>
        </form>
      </div>
    </main>
    <div class="sun"></div>
    <img src="/images/cloud.png" alt="" class="cloud cloud-1">
    <img src="/images/cloud.png" alt="" class="cloud cloud-2">
    <img src="/images/cloud.png" alt="" class="cloud cloud-3">
  </body>
</html>
