<%- include('./templates/header.ejs') %>
    <main class="main">
      <h1>Log in to continue</h1>
      <form class="local-form" action="/auth/login" method="post">
        <%- include('./templates/local-form.ejs') %>
      </form>
      <p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
      <%- include('./templates/socials.ejs') %>
    </main>
    <%- include('./templates/animations.ejs') %>
    <script src="./javascript/main.js"></script>
  </body>
</html>
