<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1>WELL CUM to Ass</h1>
      <form action="/auth/login" method="post">
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required autofocus />
        </div>
        <div>
          <label for="current-password">Password</label>
          <input type="text" id="current-password" name="password" required />
        </div>
        <button type="submit">Log in</button>
      </form>
      <p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
      <section>
        <a class="button google" href="/login/federated/google"
          >Sign in with Google</a
        >
        <a class="button facebook" href="/login/federated/facebook"
          >Sign in with Facebook</a
        >
        <a class="button github" href="/login/federated/github"
          >Sign in with GitHub</a
        >
      </section>
    </main>
  </body>
</html>
