<%- include('./templates/header.ejs') %>
    <main>
      <h1>Sign in to continue</h1>
      <form class="local-form" action="/auth/signup" method="post">
        <%- include('./templates/local-form.ejs') %>
      </form>
      <p class="help">Already registered? <a href="/login">Log in</a></p>
      <%- include('./templates/socials.ejs') %>
    </main>
    <%- include('./templates/animations.ejs') %>
    <script src="./javascript/main.js"></script>
  </body>
</html>
