<div class="input-container">
  <input
    type="email"
    id="username"
    name="username"
    placeholder="Enter your Email"
    required
    autofocus
  />
  <input
    type="password"
    id="current-password"
    name="password"
    placeholder="Password"
    required
  />
  <span id="eye" class="material-symbols-outlined"> visibility </span>
</div>
<button id="submit-btn" type="submit">Continue</button>
