<section class="socials">
  <a class="btn google" href="/login/federated/google"
    ><img src="/images/google-color-icon.svg" alt="" class="icon" />Sign in with
    Google</a
  >
  <a class="btn facebook" href="/login/federated/facebook"
    ><img src="/images/facebook-color-icon.svg" alt="" class="icon" />Sign in
    with Facebook</a
  >
  <a class="btn github" href="/login/federated/github"
    ><img src="/images/github-icon.svg" alt="" class="icon" />Sign in with
    GitHub</a
  >
</section>
