* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  font: 14px "Roboto", sans-serif;
  color: white;
  height: 100vh; /* This ensures the gradient covers the entire viewport height */
  margin: 0;     /* Remove default body margin for a full-page gradient */
  background: linear-gradient(180deg, #101011 60%, #111236 80%, #262777);
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}
button {
  cursor: pointer;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}


a:hover,
a:focus {
    text-decoration: underline;
}

/* FORM */
.main {
  z-index: 200;
  background: linear-gradient(90deg, rgba(85, 85, 85, 0.6), rgba(55, 55, 55, 0.6), rgba(34, 34, 34, 0.6));
  border-radius: 30px;
  border: solid 0.5px rgb(71, 71, 71);
  margin: 0 auto;
  margin-bottom: 20px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 20px 0;
  font-weight: 300;
  margin-top: 40px;
  color: #f0f0f0;
  /* margin-bottom: 5px; */
}


.input-container {
  /* height: 40%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

input {
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  padding: 0 15px;
  border-radius: 10px;
  border: solid 0.5px rgb(119, 119, 119);
  transition: ease 1s;
}

.material-symbols-outlined {
  position: absolute;
  top: 75px;
  left: 260px;
  opacity: .4;
}

#submit-btn {
  z-index: 200;
  margin-top: 35px;
  width: 300px;
  height: 50px;
  background-color:  rgba(24, 24, 24);
  color: #e2e2e2;
  font-size: 15px;
  padding: 0 15px;
  border-radius: 10px;
  border: solid 0.5px rgb(65, 65, 65);
  transition: ease 1s;
}

#submit-btn:hover {
  border: solid 1px #fff;
  color: #fff;
}
#submit-btn:active {
  opacity: 0.8;
}

.help {
  width: 300px;
  text-align: left;
  color: #838383;
  padding: 10px 4px;
  margin-bottom: 20px;
}

/* Socials */

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  color: #e2e2e2;
  font-size: 15px;
  padding: 0 15px;
  border-radius: 10px;
  border: solid 0.5px rgb(119, 119, 119);
  transition: ease 1s;
}

.btn:hover {
  text-decoration: none;
  border: solid 1px #fff;
  color: #fff;
}

.btn:active {
  opacity: 0.8;
}

.icon {
  width: 35px;
}

/* Main */
.success {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #7eaff7 60%, #65a6e6 80%, #3a78c7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100px;
  height: 50px;
  background-color:  rgba(24, 24, 24, 0.2);
  color: #e2e2e2;
  font-size: 15px;
  padding: 0 15px;
  border-radius: 10px;
  border: solid 0.5px rgb(151, 151, 151);
  transition: ease 1s;
}

.logout:hover {
  text-decoration: none;
  border: solid 1px #fff;
  color: #fff;
}

.logout:active {
  background-color:  rgba(24, 24, 24, 0.4);
}

.sun {
  position: absolute;
  right: 10%;
  top:10%;
  background-color: #f7ffdc;
  background-position: center;
  background-size: 176px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 40px 2px white;
}

@keyframes fly {
  to {
    transform: translateX(90vw)
  }
}

@keyframes fly-2 {
  to {
    transform: translateX(calc(550px + 95vh));
  }
}
@keyframes fly-3 {
  to {
    transform: translateX(30vw)
  }
}

.cloud {
  position: absolute;
  width: 150px;  
}

.cloud-1 {
  top: 100px;
  left: -150px;
  animation: fly 35s linear forwards;
}
.cloud-2 {
  top: 200px;
  left: -550px;
  animation: fly-2 30s linear forwards;
}
.cloud-3 {
  top: 50%;
  left: -280px;
  animation: fly-3 40s linear forwards;
}

 /* ANIMATIONS */
.animations {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.sky {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@keyframes slideToRight {
  to {
    transform: translate(90vw, 60vh);
    width: 5px;
    height: 5px;
    box-shadow: 0 0 5px 5px white;
  }
}

@keyframes slideToLeft {
  to {
    transform: translate(-90vh, 60vh);
    width: 5px;
    height: 5px;
    box-shadow: 0 0 5px 5px white;
  }
}
@keyframes shrink {
  to {
    transform: scale(0);
  }
}

.falling-star {
  z-index: -1;
  position: absolute;
  width: 0px;
  height: 0px;
  box-shadow: 0 0 0 0 white;
  border-radius: 50%;
  background-color: white;
}

.falling-star-left {
  right: 0;
  animation: slideToLeft 1s ease-in-out forwards, shrink 1.5s ease-in-out forwards;
  animation-delay: 5s;
}
.falling-star-right {
  left: 0;
  animation: slideToRight 1s ease-in-out forwards, shrink 1.5s ease-in-out forwards;
  animation-delay: 8s;
}

@keyframes shine {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  box-shadow: 0 0 3px 2px white;
  border-radius: 50%;
  background-color: white;
  transform: scale(1);
  animation: shine 3s ease-in-out infinite;
}

.system{
  position: absolute;
  right: 10%;
  top:10%
}

@keyframes rotation {
  to {
    transform: rotate3d(0, 1, 0, 3turn);
  }
}

.moon {
  background-image: url('../images/moon.jpg');
  background-position: center;
  background-size: 176px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px white;
}

.spin {
  animation: rotation 1s linear;
}



@media (max-width: 768px) {}